{
  "openapi": "3.0.0",
  "info": {
    "title": "Shopify Fulfillment Service",
    "description": "\nAll data is transferred in UTF-8 encoding.\\\nThe API uses stateless HTTP. No cookies have to be kept.\\\nAuthentication via OAuth2 client credentials flow.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://fulfillment-shopify-service.conqore.niceshops.com/v1",
      "description": "Production server"
    },
    {
      "url": "https://fulfillment-shopify-service.staging.backbone.datenkraft.info/v1",
      "description": "Staging server"
    },
    {
      "url": "https://localhost:30420",
      "description": "Development server"
    }
  ],
  "paths": {
    "/docs": {
      "get": {
        "tags": [
          "docs"
        ],
        "summary": "Get the openapi documentation as json",
        "description": "Get the openapi documentation as json",
        "operationId": "getOpenApi",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/docs/openapi.{format}": {
      "get": {
        "tags": [
          "docs"
        ],
        "summary": "Get the openapi documentation in the specified format (yaml or json, fallback is json)",
        "description": "Get the openapi documentation in the specified format (yaml or json, fallback is json)",
        "operationId": "getOpenApiInFormat",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Openapi file format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "yaml",
                "json"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/auth/role": {
      "get": {
        "tags": [
          "auth-role"
        ],
        "summary": "Get all available roles from this resource server",
        "description": "Get all available roles from this resource server",
        "operationId": "getAuthRoleCollection",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authRoleCollection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/role-identity": {
      "get": {
        "tags": [
          "auth-role-identity"
        ],
        "summary": "Get all role to identity assignments from this resource server",
        "description": "Get all role to identity assignments from this resource server",
        "operationId": "getAuthRoleIdentityCollection",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authRoleIdentityCollection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "auth-role-identity"
        ],
        "summary": "Create one or more role to identity assignments in this resource server",
        "description": "Create one or more role to identity assignments in this resource server",
        "operationId": "postAuthRoleIdentityCollection",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authRoleIdentityCollection"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authRoleIdentityCollection"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "auth-role-identity"
        ],
        "summary": "Delete one or more role to identity assignments in this resource server",
        "description": "Delete one or more role to identity assignments in this resource server",
        "operationId": "deleteAuthRoleIdentityCollection",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authRoleIdentityCollection"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "collection": {
        "title": "collection",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/collectionPagination"
          },
          "data": {
            "description": "",
            "type": "object"
          }
        },
        "type": "object"
      },
      "collectionPagination": {
        "title": "collectionPagination",
        "description": "Class AbstractPaginatedResourceCollection",
        "properties": {
          "page": {
            "description": "The page contained in this collection.",
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "description": "The page size used for reading the collection.",
            "type": "integer",
            "format": "int32"
          }
        },
        "type": "object"
      },
      "authRoleResource": {
        "required": [
          "roleCode",
          "name"
        ],
        "properties": {
          "roleCode": {
            "description": "Role Code",
            "type": "string"
          },
          "name": {
            "description": "Name",
            "type": "string"
          }
        },
        "type": "object"
      },
      "authRoleCollection": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/authRoleResource"
        }
      },
      "getAuthPermissionCollectionResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/authPermissionResource"
        }
      },
      "authPermissionResource": {
        "required": [
          "permissionCode",
          "name"
        ],
        "properties": {
          "permissionCode": {
            "description": "Permission Code",
            "type": "string"
          },
          "name": {
            "description": "Name",
            "type": "string"
          }
        },
        "type": "object"
      },
      "authRoleIdentityCollection": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/authRoleIdentityResource"
        }
      },
      "authRoleIdentityResource": {
        "required": [
          "roleCode",
          "identityId"
        ],
        "properties": {
          "roleCode": {
            "description": "Role Code",
            "type": "string"
          },
          "identityId": {
            "description": "Identity ID",
            "type": "string"
          }
        },
        "type": "object"
      },
      "errorResponse": {
        "properties": {
          "errors": {
            "description": "errors",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/error"
            }
          }
        },
        "type": "object"
      },
      "error": {
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "description": "Code",
            "type": "string"
          },
          "message": {
            "description": "Message",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "oAuthAuthorization": {
        "type": "oauth2",
        "description": "OAuth2 Authorization",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://authentication-api.conqore.niceshops.com/oauth/token",
            "refreshUrl": "UNDEFINED",
            "scopes": {}
          }
        }
      }
    }
  }
}